{{ define "main" }}
<div class="row">
<!-- <div class="col&#45;md&#45;8"> -->
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Oops! Data you're looking for is <code>NA</code> at the moment ...</h1>
  </header>

  <div class="post-content">
    <div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-r" data-lang="r"><span style="color:#a6e22e">library</span>(stats220)
<span style="color:#a6e22e">dr_wang</span>() <span style="color:#f92672">%&gt;%</span>
  <span style="color:#a6e22e">work_hard</span>(on <span style="color:#f92672">=</span> <span style="color:#a6e22e">c</span>(<span style="color:#e6db74">"lecture slides"</span>, <span style="color:#e6db74">"lab exercise"</span>, <span style="color:#e6db74">"assignment"</span>, <span style="color:#e6db74">"data"</span>)) <span style="color:#f92672">%&gt;%</span>
  <span style="color:#a6e22e">replace_na</span>(with <span style="color:#f92672">=</span> <span style="color:#e6db74">"fun"</span>) <span style="color:#f92672">%&gt;%</span>
  <span style="color:#a6e22e">thank_you</span>(for <span style="color:#f92672">=</span> <span style="color:#e6db74">"reading :)"</span>)
    </code></pre></div>
  </div>

</article>
<!-- </div> -->
<!-- {{ partial "sidebar.html" . }} -->
</div>

{{ partial "fb-script.html" . }}
{{ end }}

